@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: aliceblue;   
  background: black;
  font-family: sans-serif;
}

.scrollbar-hide {
  overflow: scroll;
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
